@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
:root {
  --text-light: #1c1c1c;
  --text-black: #151515;
  --text-white: #eeeeee;
  --gray-light: #e0e0e0;
  --primary-highlight: #6f2dff;
  --primary-highlight-dark: #6424ef;
  --secondary-highlight: #f6bed9;
  --secondary-highlight-dark: #d15187;
  --dark-background: #17002e;
}
/* MAIN STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 24px;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 14400px;
  color: var(--text-black);
  min-width: 380px;
  overflow-x: hidden;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}
button {
  cursor: pointer;
}
input::placeholder {
  font-size: 0.8rem;
  padding: 2px 4px;
}
a {
  text-decoration: none;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--primary-highlight),
    var(--secondary-highlight-dark)
  );
  transition: width 0.3s;
}
a:hover::after {
  width: 100%;
}
li {
  list-style: none;
}
footer a::after {
  display: none;
}
.menu__btn {
  display: none;
}

/* REUSED STYLES */
.primary__btn {
  background-color: var(--primary-highlight);
  color: var(--text-white);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 20px;
  font-size: 0.8rem;
  border-radius: 1rem;
  height: 1.5rem;
  border: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.primary__btn:hover {
  background-color: var(--secondary-highlight-dark);
}
.secondary__btn {
  display: block;
  color: var(--primary-highlight);
  border: 1px solid white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 20px;
  font-size: 0.8rem;
  border-radius: 1rem;
  height: 1.5rem;
  background-color: white;
  text-transform: uppercase;
  white-space: nowrap;
}
.secondary__btn:hover {
  border: 1px solid var(--primary-highlight);
}
.section {
  padding: 3rem 2rem;
  text-align: center;
}
.section__title {
  margin-bottom: 2rem;
}
.section__text {
  margin-bottom: 1.5rem;
}
/* NAVIGATION STYLES */
.header__nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}
.header__logo {
  max-height: 50%;
  margin-right: 1.5rem;
}
.header__nav-items {
  font-size: 0.7rem;
}
.nav__item {
  display: inline-block;
}
.nav__item:not(:last-of-type) {
  margin-right: 1.5rem;
}
.nav__item a {
  color: var(--text-light);
  white-space: nowrap;
}
.nav__button {
  margin-left: 0.6rem;
}

/* HEADER SECTION */
.header__section {
  width: 100%;
  height: 755px;
  position: relative;
}
.header__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
  max-width: 45%;
}
.header__subtitle {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}
.header__title {
  margin-bottom: 2rem;
}
.header__title span {
  color: var(--primary-highlight);
}
.header__description {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.header__form {
  width: 100%;
  min-width: 550px;
  height: 2rem;
  position: relative;
}
.header__input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid var(--primary-highlight);
  padding-left: 1rem;
  font-size: 0.8rem;
}
.header__input:focus,
.header__input:active {
  outline: none;
  outline-color: var(--primary-highlight-dark);
}

.header__btn {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 60%;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

/* SUBSECTION */

.subsection__title {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.subsection__customers {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__content {
  width: 25%;
  margin-right: 1rem;
}
.subsection__img {
  max-width: 100%;
}

.section__link {
  color: var(--primary-highlight-dark);
  font-size: 0.7rem;
  display: block;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  white-space: nowrap;
}

.subsection__link {
  margin: 0 auto;
}

/* SECTIONS */
.section__01 {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__actions {
  display: flex;
  margin-bottom: 2rem;
}
.section__actions .primary__btn {
  margin-right: 1rem;
}
.section__header {
  margin-right: 3rem;
  flex-basis: 50%;
}
.section__body {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section__data {
  border-left: 1px solid var(--gray-light);
  padding: 1rem;
}
.section__body-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.section__body-content {
  font-size: 0.8rem;
}

.section__link-secondary {
  display: block;
  margin-top: 1rem;
  color: var(--text-black);
  text-decoration: underline;
}
.section__link-secondary:hover {
  color: var(--primary-highlight);
}
.section__link-secondary::after {
  display: none;
}

.section__02 {
  text-align: center;
}

.section__03 img {
  display: block;
  margin: 2rem auto;
  max-width: 60%;
  border-radius: 0.5rem;
  box-shadow: 3px 4px 7px rgba(186, 186, 186, 0.777);
}
.actions__03 {
  justify-content: center;
  max-width: 40%;
  margin: 0 auto 1rem;
}

.content__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
}
.grid__item h3 {
  margin: 1rem 0 1.5rem;
  font-size: 1rem;
}
.grid__item p {
  font-size: 0.8rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
}
.card {
  width: 1fr;
  border-radius: 0.5rem;
  background-color: white;
}
.card img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.card h4 {
  margin-bottom: 0.7rem;
}
.card p {
  font-size: 0.8rem;
  max-width: 90%;
  margin: 0 auto 1rem;
  color: var(--primary-highlight-dark);
}
.grid__2 {
  grid-template-columns: 1fr 1fr;
}
.grid__item-2 {
  text-align: right;
  background-color: var(--dark-background);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: var(--text-white);
}
.grid__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.grid__header img {
  margin-right: 0.5rem;
}
.grid__item-2 p {
  text-align: left;
  margin-bottom: 0.8rem;
}
.section__07 p {
  margin-bottom: 1rem;
}
.section__07 .section__body {
  flex-basis: 30%;
}
.section__08 {
  background-color: var(--dark-background);
  color: var(--text-white);
  background: url(./img/section-bcgr-2.png);
  background-size: 100% 100%;
}
.section__08 form {
  max-width: 45%;
  margin: 0 auto;
}
.section__09 img {
  max-height: 150px;
}
.section__09 {
  padding-bottom: 1rem;
}

/* FOOTER STYLES */
.contacts {
  padding-top: 0;
}
.contacts h5 {
  margin-bottom: 1rem;
}
.contact__link {
  color: var(--text-black);
}
.contact__link:hover {
  color: var(--primary-highlight-dark);
}
.contact__link:not(:last-of-type) {
  margin-right: 1.3rem;
}
.footer {
  background-color: var(--dark-background);
  color: var(--text-white);
  width: 100%;
}
.footer img {
  margin: 1rem 0;
}
.footer p {
  font-size: 0.7rem;
}
.footer__subsections {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1rem;
  text-align: left;
}
.footer__subsection h6 {
  margin-bottom: 1rem;
}
.footer__subsection ul {
  font-size: 0.6rem;
}
.footer__subsection ul li a {
  color: inherit;
}
.footer__subsection ul li a:hover {
  color: var(--secondary-highlight-dark);
}
.footer__subsection ul li {
  padding: 0.3rem 0;
}
.footer__subsection-01 ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.6rem;
}

/* ADAPTIVE */

@media screen and (min-width: 1480px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 1215px) {
}
@media screen and (max-width: 1214px) {
  .hidden__desktop {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 845px) {
  html {
    font-size: 18px;
  }
  .header__logo {
    margin-right: 0.5rem;
  }
  .menu__btn {
    border: none;
    background: transparent;
    display: block;
    height: 40%;
    width: 1.6rem;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu__btn:hover .line {
    background: var(--primary-highlight-dark);
  }
  .line {
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--text-light);
    transition: all 0.5s;
  }
  .open .line1 {
    transform-origin: top left;
    transform: rotate(45deg);
  }
  .open .line2 {
    transform: scaleY(0);
  }
  .open .line3 {
    transform-origin: bottom left;
    transform: rotate(-45deg);
  }
  .header__section {
    height: 580px;
  }
  .header__section .header__form {
    width: 350px;
  }
  .header__input {
    width: 320px;
    display: block;
    text-align: center;
    padding: 0 1rem;
  }
  .header__input::placeholder {
    text-align: center;
  }
  .header__btn {
    position: static;
    border-radius: 1rem;
    width: 320px;
    margin-top: 1rem;
  }
  .header__content {
    background-color: #f6bed976;
    backdrop-filter: blur(4px);
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    max-width: 90%;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav-items {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-highlight);
    z-index: 100;
    transition: left 0.5s;
  }
  .nav__item {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 0;
    padding: 1rem 2rem;
  }
  .nav__item:first-of-type {
    padding-top: 20vh;
  }
  .nav__link {
    display: inline-block;
  }
  .nav__item:not(:last-of-type) {
    margin-right: 0;
  }

  .subsection__customers {
    overflow: hidden;
  }
  .customer__content {
    width: 25%;
    margin-right: 1rem;
  }
  .subsection__img {
    max-width: 100%;
  }
  .section__01 {
    flex-direction: column;
  }
  .section__01 .section__header {
    margin-bottom: 2rem;
    width: 100%;
    margin: 0 auto 1.5rem;
  }
  .section__01 .section__title {
    text-align: center;
  }
  .section__01 .section__actions {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .section__01 .section__actions .primary__btn,
  .section__01 .section__actions .section__link {
    display: inline-block;
  }

  .section__01 .section__data {
    border: none;
    border-top: 1px solid var(--gray-light);
    padding: 1.5rem;
  }
  .section__02 .content__grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .section__02 .content__grid .grid__item {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .section__03 img {
    max-width: 80%;
  }
  .section__04 .content__grid {
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 40%;
    margin: 1rem auto;
    background-color: rgba(228, 228, 228, 0.247);
  }
  .grid__2 {
    grid-template-columns: 1fr;
  }
  .section__07 .section__body {
    display: none;
  }
  .section__08 .header__form {
    min-width: 340px;
  }
  .section__08 .header__form .primary__btn {
    font-size: 0.6rem;
  }
  .footer__subsections {
    row-gap: 1rem;
  }
  .footer__subsection-01 ul {
    grid-template-columns: auto;
  }

  .hidden__mobile {
    display: none;
  }
}
